@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ErrorLoginPage";
}
<br />
<br />
<h2 style="text-align:center; color: red"> Login Failed - Incorrect Username or Password</h2>
<br />
<br />
<a asp-area="" asp-controller="Home" asp-action="Index">Back to Login</a>