@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SuccessPage";
}
<br />
<br />
<h1 style="text-align:center; color: forestgreen">Okta Verified - Login Success</h1>
<br />
<br />
